@import url('https://fonts.googleapis.com/css2?family=Gabarito&family=Lato&family=Roboto&display=swap');

body{
    background-color: #111;
    color: white;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;}

:root{
    --x: 0;
    --y: 0;}

header{
    background-color: #333;
    padding: 5px;
    height: 50px;
    display: flex;
    align-items: center;}
    header img{
        height: 100%;
        border-radius: 50%;}
    header span{
        margin: 0 10px;}

main{
    display: flex;
    height: calc(100vh - 60px);}
    nav{
        width: 20vw;
        height: calc(100vh - 60px);
        background-color: #222;
        display: flex;
        flex-direction: column;
        font-family: 'Gabarito', sans-serif;}
        nav > span{
            padding: 10px;
            user-select: none;
            font-size: 1.4em;}
        .block{
            display: flex;
            flex-direction: column;
            padding: 5px;
            margin: 5px;
            border: 1px solid white;
            border-radius: 5px;
            user-select: none;}
            .block:hover{
                background-color: white;
                color: black;
                cursor: pointer;}
            .block span:first-child{
                font-family: 'Roboto', sans-serif;
                font-size: 1.25em;
                font-style: italic;}
            .block span:last-child{
                padding: 0 5px;}
    #canvas {
        position: relative;
        width: 80vw;
        height: calc(100vh - 60px);
        }
        .pointer{
            position: absolute;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: red;
            z-index: 1;}